
@{
    ViewBag.Title = "Salvar";
}



<h2>Salvar</h2>

<h3>O nome do aluno é @ViewBag.nomeAluno</h3>
<h3>A data de nascimento do aluno é @ViewBag.dataAluno</h3>
<h3>O Salário do aluno é @ViewBag.salarioAluno</h3>
